<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel guests</title>
</head>
<body>
<h1>Welcome to guest page</h1>
<table>
    <tr>
        <td>Last name</td>
        <td>First name</td>
        <td>Email address</td>
        <td>Phone number</td>
    </tr>
    <tr th:each="guest:${guests}">
        <td th:text="${guest.lastName}">Last name</td>
        <td th:text="${guest.firstName}">Last name</td>
        <td th:text="${guest.emailAddress}">Last name</td>
        <td th:text="${guest.phoneNumber}">Last name</td>
    </tr>
</table>
</body>
</html>